@charset "UTF-8";

* {
  line-height: 1.5rem;
}

body {
  background-color: var(--app-color-index-0);
  font-family: var(--app-font-padrao);
  min-width: 330px;
  text-align: center;
}

header {
  min-height: 200px;
  height: 200px;
  background-color: var(--app-color-index-2);
  background-image: url('../images/code-pq.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--app-color-light);
}

main {
  background-color: var(--app-color-light);
  min-width: 300px;
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  color: var(--app-color-index-4);
}

main section {
padding: 1rem 0;
}

main section h2 {
  margin: 0.5rem 0;
  color: var(--app-color-index-4);
}

main section p {
  margin: 0.5rem 0;
}

main section a {
  font-weight: bold;
  text-decoration: none;
  color: var(--app-color-index-4);
  padding: 0.625rem;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
}

main section a:hover {
  color: var(--app-color-index-3);
  text-decoration: underline;
}

main section .video {
  background-color: var(--app-color-index-5);
  padding: 1.5rem;
  padding-bottom: 55.7%;
  margin: 1rem -1rem 2rem -1rem;
  position: relative;
}

main .video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: var(--app-color-index-5);
  color: var(--app-color-light);
  text-align: center;
  font-size: 0.675rem;
  padding: 0.312rem;
}

footer a {
  color: var(--app-color-light);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--app-color-index-1);
}


@media only screen and (min-width: 510px) {
  header {
    background-image: url('../images/code.png');
  }
}