body {
  background-color: rgb(214, 165, 218);
}

main {
  background-color: rgb(180, 92, 186);
  max-width: 700px;
  margin: auto;
  padding: 32px;

  h1, h2, h3  {
    text-align: center;
    margin-bottom: 16px;
  }

  ul {
    margin: 1rem auto;
    width: fit-content;;

    li {
      list-style: decimal;
      font-size: 1.2rem;
    }
  }

  .container {
    display: grid;
    gap: 8px;
    padding: 2px;
    background-color: rgb(234, 234, 234);
    grid-template: repeat(3, auto) / repeat(3, auto);
    place-items: start center;
    place-content: space-between end;

    .item {
      background-color: tomato;
      border: 1px dashed saddlebrown;

      &.it-a {
        background-color: rgb(245, 192, 17);
      }

      &.it-b {
        background-color: rgb(64, 137, 255);
      }

      &.it-c {
        background-color: rgb(255, 49, 203);
      }
    }

    &.grid-a {
      grid-template-columns: auto auto;
      background-color: rgb(0, 0, 140);
      grid-template: repeat(5, 150px) / 1fr 3fr;
    }

    &.grid-b {
      background-color: rgb(140, 16, 0);
      grid-template: repeat(3, 150px) / repeat(4, 1fr);
    }

    &.grid-c {
      background-color: rgb(137, 147, 4);
      grid-template: repeat(3, 150px) repeat(3, 100px);
    }

    &.grid-d {
      background-color: rgb(140, 0, 140);
      grid-template: 1fr 2fr 3fr 4fr / 1fr 25% 80px;
      gap: 32px;
    }

    &.grid-e {
      background-color: rgb(140, 112, 0);
      grid-template-rows: 100px 100px 100px;
      grid-template-columns: 100px 20% 1fr;
    }

    &.grid-f {
      background-color: rgb(140, 0, 42);
      grid-template: repeat(3, 50px) / 150px 20% 1fr;
      gap: 16px;
    }

    &.grid-g {
      background-color: rgb(9, 61, 201);
      grid-template: repeat(3, 150px) / 100px 25% repeat(2, 1fr);
      gap: 16px;
    }
  }
}