@charset "UTF-8";

body {
  background-color: rgb(255, 217, 127);
}

main.container {
  background-color: rgb(233, 189, 85);
}

section {
  height: 250px;
}

section.column {
  flex-direction: column;
}

section.columnreverse {
  flex-direction: column-reverse;
}

section.flexstart {
  justify-content: flex-start;
}

section.flexend {
  justify-content: flex-end;
}

section.center {
  justify-content: center;
}

section.spacebetween {
  justify-content: space-between;
}

section.spaceevenly {
  justify-content: space-evenly;
}

section.spacearound {
  justify-content: space-around;
}

div.item {
  background-color: rgb(255, 127, 127);
  width: 50px;
}

div.item.a,
h3 {
  background-color: rgb(139, 128, 240);
}