@charset "UTF-8";

body {
  background-color: rgb(206, 240, 128);
}

main.container {
  background-color: rgb(160, 193, 83);
}

section {
  width: 90%;
  max-width: 600px;
}

section.row {
  flex-direction: row;
}

section.rowreverse {
  flex-direction: row-reverse;
}

section.flexstart {
  justify-content: flex-start;
}

section.flexend {
  justify-content: flex-end;
}

section.center {
  justify-content: center;
}

section.spacebetween {
  justify-content: space-between;
}

section.spaceevenly {
  justify-content: space-evenly;
}

section.spacearound {
  justify-content: space-around;
}

div.item {
  background-color: rgb(139, 128, 240);
}

div.item.a,
h3 {
  background-color: rgb(255, 127, 127);
}