@charset "UTF-8";

body {
  background-color: rgb(255, 217, 127);
  font-family: Arial, Helvetica, sans-serif;
}

main.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0 auto;
  max-width: 600px;
}

main > h4 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 12px;
}

main .text {
  margin: 8px 0;

  p {
    text-align: center;
    margin: 8px auto;
    max-width: 500px;
  }
}

section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 32px;
  width: 100%;
  max-width: 300px;
  background-color: white;
  margin: 0 auto;
}

section.column {
  flex-direction: column;
}

section.columnreverse {
  flex-direction: column-reverse;
}

section.stretch {
  align-items: stretch;
}

section.flexstart {
  align-items: flex-start;
}

section.flexend {
  align-items: flex-end;
}

section.center {
  align-items: center;
}

div.item {
  background-color: rgb(255, 127, 127);
  border: 1px solid black;
  text-align: center;
  min-width: 50px;
}

div.item.a {
  background-color: rgb(139, 128, 240);
}

h3 {
  margin: 1em 0;
  text-align: center;
  width: 100%;
  background-color: rgb(139, 128, 240);
  padding: 10px 0;
}