@charset "UTF-8";

body {
  background-color: rgb(206, 240, 128);
}

main.container {
  background-color: rgb(160, 193, 83);
}

section {
  width: 90%;
  max-width: 500px;
  height: 120px;
}

section.row {
  flex-direction: row;
}

section.rowreverse {
  flex-direction: row-reverse;
}

section.stretch {
  align-items: stretch;
}

section.flexstart {
  align-items: flex-start;
}

section.flexend {
  align-items: flex-end;
}

section.center {
  align-items: center;
}

div.item {
  background-color: rgb(139, 128, 240);
  width: 20%;
}

div.item.a,
h3 {
  background-color: rgb(255, 127, 127);
}