@charset "UTF-8";

html, body {
  min-height: 100vh;
  min-width: 330px;
  background-color: var(--app-color-index-3);
  color: var(--app-color-index-5);
  font-family: var(--app-font-cordel);
}

header, footer {
  background-color: var(--app-color-index-5);
  color: var(--app-color-index-0);
  text-align: center;
}

header > h1 {
  font-size: 3rem;
  padding-top: 3rem;
  font-variant: small-caps;
  font-family: var(--app-font-cordel-passion);
}

header > p {
  padding-bottom: 3rem;
}

header a, footer a {
  color: var(--app-color-index-0);
  font-weight: bold;
  text-decoration: none;
}

header a:hover, footer a:hover {
  color: var(--app-color-index-1);
  text-decoration: underline;
}

section {
  padding: 10vh 0;
  padding-left: 2rem;
  line-height: 2.5rem;
  font-family: var(--app-font-cordel-sriracha);
  font-size: 1.25rem;
}

section > p {
  padding-bottom: 2rem;
}

.normal {
  background-color: var(--app-color-index-0);
}

.imagem {
  background-color: var(--app-color-index-5);
  color: var(--app-color-index-0);
  box-shadow: inset 6px 6px 14px 0px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-attachment: fixed;
}

.imagem > p {
  display: inline-block;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 0px black;
}

#img1 {
  background-image: url(../imagens/background001.jpg);
  background-position: right center;
  background-size: cover;
}

#img2 {
  background-image: url(../imagens/background002.jpg);
  background-size: cover;
}

footer {
  font-size: 0.750rem;
  padding: 0.625rem;
}