@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100vh;
  width: 100vw;
  background-color: gray;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background: url('../images/fundo-social-medias-peb.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  height: 100vh;
  position: relative;
}

#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 627px;
  width: 311px;
  background-color: lightcoral;
  background: url('../images/frame-iphone.png') no-repeat;
}

#tela {
  position: relative;
  top: 80px;
  left: 22px;
  width: 268px;
  height: 472px;
  border-radius: 2px;
  box-shadow: 0px 0px 4px rgba(255, 0, 0, 0.3);
}

#redes-sociais {
  display: flex;
  flex-direction: column;
}

#redes-sociais a:nth-child(1) {
  margin-top: 24px;
}

#redes-sociais img {
  width: 60px;
  margin: 20px 0 0 14px;
  border-radius: 50%;
  border: 2px solid transparent;
}

#redes-sociais img:hover {
  border-color: rgba(255, 255, 255, 0.7);
  transform: scale(1.1);
  transition: 0.3s;
}



