body {
  background-color: #debb6e;
}

header {
  text-align: center;
}

main {
  background-color: rgba(0, 0, 0, 0.2);
}

div {
  background-color: transparent;
  margin-bottom: 24px;
}

footer {
  font-style: italic;
  text-align: center;
}


