@charset "UTF-8";

@media screen and (min-width: 512px) { /* Mudança dos botões de navegação dos exercicios */
  #btns {
    margin-left: 8px;
  }
  button.btn-1 {
    margin: 2rem 0;
  }
}

@media screen and (min-width: 768px) {
  span#burguer {
    display: none;
  }

  menu {
    text-align: center;
    display: block;
  }

  menu > ul > li {
    display: inline-block;
  }

  main {
    max-width: 700px;
  }
}