@charset "UTF-8";

* {
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--app-color-android-0);
  background-image: url(../imagens/bg_android-pq-70.png);
  font-family: var(--app-font-padrao);
  min-width: 330px;
  position: relative;
}

a.externo::after {
  content: '\1F517';
  font-size: 0.750rem;
}

header {
  color: var(--app-color-light-tint);
  background-image: linear-gradient(to bottom, var(--app-color-android-3) 1%, var(--app-color-android-5) 99%);
  min-height: 150px;
  text-align: center;
  padding-top: 2.8rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

header > h1 {
  font-family: var(--app-font-bebas);
  font-size: 2rem;
  margin: 0 0.5rem 1.5rem 0.5rem;
}

header > p {
  max-width: 400px;
  margin: auto;
  padding: 0 0.5rem 1.2rem 0.5rem;
}

nav {
  background-color: var(--app-color-android-5);
  padding: 1rem;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

nav a {
  color: var(--app-color-light);
  font-weight: bold;
  text-decoration: none;
  text-wrap: nowrap;
  border-radius: 0.5rem;
  padding: 0.625rem;
  transition-duration: 0.3s;
}

nav a:hover {
  text-decoration: underline;
}

main {
  background-color: var(--app-color-light-tint);
  min-width: 280px;
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

main h1 {
  color: var(--app-color-android-5);
  font-family: var(--app-font-android);
  margin-top: 0.5rem;
}

main h2 {
  font-family: var(--app-font-android);
  font-size: 1.375rem;
  text-indent: 1rem;
  background-image: linear-gradient(to right, var(--app-color-android-1-rgba-50), transparent);
  color: var(--app-color-android-4);
  padding: 0.375rem 0;
}

main p {
  text-align: justify;
  text-indent: 2rem;
  line-height: 2rem;
  margin: 1rem 0;
}

main strong {
  color: var(--app-color-android-3);
  font-weight: bold;
}

main a {
  font-weight: bold;
  text-decoration: none;
  background-color: var(--app-color-android-0);
  color: var(--app-color-android-4);
  padding: 0.125rem 0.375rem;
}

main a:hover {
  text-decoration: underline;
  color: var(--app-color-android-5);
}

main img {
  width: 100%;
}

main img.pequena {
  display: block;
  margin: auto;
  max-width: 350px;
}

main .video {
  background-color: var(--app-color-android-5);
  padding: 1.5rem;
  padding-bottom: 55.7%;
  margin: 0 -1rem 2rem -1rem;
  position: relative;
}

main .video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

aside {
  background-color: var(--app-color-android-0);
  padding: 0.675rem;
  border-radius: 0.675rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.280);
}

aside h3 {
  background-color: var(--app-color-android-4);
  color: var(--app-color-light);
  padding: 0.675rem;
  margin: -0.675rem;
  border-radius: 0.675rem 0.675rem 0 0;
}

aside > ul {
  list-style-position: inside;
  columns: 1;
}

footer {
  background-color: var(--app-color-android-5);
  color: var(--app-color-light);
  text-align: center;
  font-size: 0.675rem;
  padding: 0.312rem;
}

footer a {
  color: var(--app-color-light);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--app-color-android-1);
}


@media only screen and (min-width: 610px) {
  nav a:hover {
    text-decoration: underline;
    background-color: var(--app-color-android-4);
    color: var(--app-color-android-0);
  }
}